#dress{
     background-image:url('');
height:160px;
width:15%;
float:right;
transition:4s all ease;
}
dress:hover{
animation:4s all ease;
}
img{
position:absolute;
height:100%;
width:100%;
}

#snap{
display:inline-block;
position:absolute;
margin-left:55%;

background-color:#FFFFFF;
}
#pic{
font-family: verdana;
font-size: 20px;
text-align: center;
color:orange;
margin-left:10%;
margin-bottom:10%;

margin-right:10%;
background-image:url("");
}

#box{
background-color:;
display:block;
}
#capture{
display:inline-block;
background-color:#FFFFFF;
margin-top:25%;
margin-left:55%;
}

#crop{
margin-top:50px;
margin-left:50%;
}

.shirts{
display:none;
}
